node_modules
dist
generated
.env
.env.local
*.log
.DS_Store
coverage
.turbo
node-compile-cache
*.tsbuildinfo
apps/shared/src/**/*.js
apps/shared/src/**/*.d.ts
apps/shared/src/**/*.js.map
apps/shared/src/**/*.d.ts.map
